@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;
@use "sass:list";

$_matAdapterPaletteLight: (
  0: var(--palette--primary-0),
  10: var(--color--primary-container--contrast),
  20: var(--palette--primary-20),
  25: var(--palette--primary-25),
  30: var(--palette--primary-30),
  35: var(--palette--primary-35),
  40: var(--color--primary),
  50: var(--palette--primary-50),
  60: var(--palette--primary-60),
  70: var(--palette--primary-70),
  80: var(--palette--primary-80),
  90: var(--color--primary-container),
  95: var(--color--primary--contrast),
  98: var(--palette--primary-98),
  99: var(--palette--primary-99),
  100: var(--palette--primary-100),
  secondary: (
    0: var(--palette--secondary-0),
    10: var(--color--secondary-container--contrast),
    20: var(--palette--secondary-20),
    25: var(--palette--secondary-25),
    30: var(--palette--secondary-30),
    35: var(--palette--secondary-35),
    40: var(--color--secondary),
    50: var(--palette--secondary-50),
    60: var(--palette--secondary-60),
    70: var(--palette--secondary-70),
    80: var(--palette--secondary-80),
    90: var(--color--secondary-container),
    95: var(--color--secondary--contrast),
    98: var(--palette--secondary-98),
    99: var(--palette--secondary-99),
    100: var(--palette--secondary-100),
  ),
  neutral: (
    0: var(--palette--neutral-0),
    10: var(--color--background--contrast),
    20: var(--palette--neutral-20),
    25: var(--palette--neutral-25),
    30: var(--palette--neutral-30),
    35: var(--palette--neutral-35),
    40: var(--palette--neutral-40),
    50: var(--palette--neutral-50),
    60: var(--palette--neutral-60),
    70: var(--palette--neutral-70),
    80: var(--palette--neutral-80),
    90: var(--palette--neutral-90),
    95: var(--color--background),
    98: var(--palette--neutral-98),
    99: var(--color--surface),
    100: var(--palette--neutral-100),
    4: var(--palette--neutral-4),
    6: var(--palette--neutral-6),
    12: var(--palette--neutral-12),
    17: var(--palette--neutral-17),
    22: var(--palette--neutral-22),
    24: var(--palette--neutral-24),
    87: var(--palette--neutral-87),
    92: var(--palette--neutral-92),
    94: var(--palette--neutral-94),
    96: var(--palette--neutral-96),
  ),
  neutral-variant: (
    0: var(--palette--neutral-variant-0),
    10: var(--palette--neutral-variant-10),
    20: var(--color--background-variant--contrast),
    25: var(--palette--neutral-variant-25),
    30: var(--color--surface-variant--contrast),
    35: var(--palette--neutral-variant-35),
    40: var(--palette--neutral-variant-40),
    50: var(--color--outline),
    60: var(--palette--neutral-variant-60),
    70: var(--palette--neutral-variant-70),
    80: var(--color--background-variant),
    90: var(--color--surface-variant),
    95: var(--palette--neutral-variant-95),
    98: var(--palette--neutral-variant-98),
    99: var(--palette--neutral-variant-99),
    100: var(--palette--neutral-variant-100),
  ),
  error: (
    0: var(--palette--error-0),
    10: var(--color--error-container--contrast),
    20: var(--palette--error-20),
    25: var(--palette--error-25),
    30: var(--palette--error-30),
    35: var(--palette--error-35),
    40: var(--color--error),
    50: var(--palette--error-50),
    60: var(--palette--error-60),
    70: var(--palette--error-70),
    80: var(--palette--error-80),
    90: var(--color--error-container),
    95: var(--color--error--contrast),
    98: var(--palette--error-98),
    99: var(--palette--error-99),
    100: var(--palette--error-100),
  ),
);
$_matAdapterPaletteDark: (
  0: var(--palette--primary-0),
  10: var(--palette--primary-10),
  20: var(--color--primary--contrast),
  25: var(--palette--primary-25),
  30: var(--color--primary-container),
  35: var(--palette--primary-35),
  40: var(--palette--primary-40),
  50: var(--palette--primary-50),
  60: var(--palette--primary-60),
  70: var(--palette--primary-70),
  80: var(--color--primary),
  90: var(--color--primary-container--contrast),
  95: var(--palette--primary-95),
  98: var(--palette--primary-98),
  99: var(--palette--primary-99),
  100: var(--palette--primary-100),
  secondary: (
    0: var(--palette--secondary-0),
    10: var(--palette--secondary-10),
    20: var(--color--secondary--contrast),
    25: var(--palette--secondary-25),
    30: var(--color--secondary-container),
    35: var(--palette--secondary-35),
    40: var(--palette--secondary-40),
    50: var(--palette--secondary-50),
    60: var(--palette--secondary-60),
    70: var(--palette--secondary-70),
    80: var(--color--secondary),
    90: var(--color--secondary-container--contrast),
    95: var(--palette--secondary-95),
    98: var(--palette--secondary-98),
    99: var(--palette--secondary-99),
    100: var(--palette--secondary-100),
  ),
  neutral: (
    0: var(--palette--neutral-0),
    10: var(--color--background),
    20: var(--color--surface),
    25: var(--palette--neutral-25),
    30: var(--palette--neutral-30),
    35: var(--palette--neutral-35),
    40: var(--palette--neutral-40),
    50: var(--palette--neutral-50),
    60: var(--palette--neutral-60),
    70: var(--palette--neutral-70),
    80: var(--palette--neutral-80),
    90: var(--color--background--contrast),
    95: var(--palette--neutral-95),
    98: var(--palette--neutral-98),
    99: var(--palette--neutral-99),
    100: var(--palette--neutral-100),
    4: var(--palette--neutral-4),
    6: var(--palette--neutral-6),
    12: var(--palette--neutral-12),
    17: var(--palette--neutral-17),
    22: var(--palette--neutral-22),
    24: var(--palette--neutral-24),
    87: var(--palette--neutral-87),
    92: var(--palette--neutral-92),
    94: var(--palette--neutral-94),
    96: var(--palette--neutral-96),
  ),
  neutral-variant: (
    0: var(--palette--neutral-variant-0),
    10: var(--palette--neutral-variant-10),
    20: var(--color--background-variant),
    25: var(--palette--neutral-variant-25),
    30: var(--color--surface-variant),
    35: var(--palette--neutral-variant-35),
    40: var(--palette--neutral-variant-40),
    50: var(--palette--neutral-variant-50),
    60: var(--color--outline),
    70: var(--palette--neutral-variant-70),
    80: var(--color--background-variant--contrast),
    90: var(--color--surface-variant--contrast),
    95: var(--palette--neutral-variant-95),
    98: var(--palette--neutral-variant-98),
    99: var(--palette--neutral-variant-99),
    100: var(--palette--neutral-variant-100),
  ),
  error: (
    0: var(--palette--error-0),
    10: var(--palette--error-10),
    20: var(--color--error--contrast),
    25: var(--palette--error-25),
    30: var(--color--error-container),
    35: var(--palette--error-35),
    40: var(--palette--error-40),
    50: var(--palette--error-50),
    60: var(--palette--error-60),
    70: var(--palette--error-70),
    80: var(--color--error),
    90: var(--color--error-container--contrast),
    95: var(--palette--error-95),
    98: var(--palette--error-98),
    99: var(--palette--error-99),
    100: var(--palette--error-100),
  ),
);

$_matTertiaryAdapterPaletteLight: (
  0: var(--palette--tertiary-0),
  10: var(--color--tertiary-container--contrast),
  20: var(--palette--tertiary-20),
  25: var(--palette--tertiary-25),
  30: var(--palette--tertiary-30),
  35: var(--palette--tertiary-35),
  40: var(--color--tertiary),
  50: var(--palette--tertiary-50),
  60: var(--palette--tertiary-60),
  70: var(--palette--tertiary-70),
  80: var(--palette--tertiary-80),
  90: var(--color--tertiary-container),
  95: var(--color--tertiary--contrast),
  98: var(--palette--tertiary-98),
  99: var(--palette--tertiary-99),
  100: var(--palette--tertiary-100),
  secondary: (
    0: var(--palette--secondary-0),
    10: var(--palette--secondary-10),
    20: var(--palette--secondary-20),
    25: var(--palette--secondary-25),
    30: var(--palette--secondary-30),
    35: var(--palette--secondary-35),
    40: var(--palette--secondary-40),
    50: var(--palette--secondary-50),
    60: var(--palette--secondary-60),
    70: var(--palette--secondary-70),
    80: var(--palette--secondary-80),
    90: var(--palette--secondary-90),
    95: var(--palette--secondary-95),
    98: var(--palette--secondary-98),
    99: var(--palette--secondary-99),
    100: var(--palette--secondary-100),
  ),
  neutral: (
    0: var(--palette--neutral-0),
    10: var(--palette--neutral-10),
    20: var(--palette--neutral-20),
    25: var(--palette--neutral-25),
    30: var(--palette--neutral-30),
    35: var(--palette--neutral-35),
    40: var(--palette--neutral-40),
    50: var(--palette--neutral-50),
    60: var(--palette--neutral-60),
    70: var(--palette--neutral-70),
    80: var(--palette--neutral-80),
    90: var(--palette--neutral-90),
    95: var(--palette--neutral-95),
    98: var(--palette--neutral-98),
    99: var(--palette--neutral-99),
    100: var(--palette--neutral-100),
    4: var(--palette--neutral-4),
    6: var(--palette--neutral-6),
    12: var(--palette--neutral-12),
    17: var(--palette--neutral-17),
    22: var(--palette--neutral-22),
    24: var(--palette--neutral-24),
    87: var(--palette--neutral-87),
    92: var(--palette--neutral-92),
    94: var(--palette--neutral-94),
    96: var(--palette--neutral-96),
  ),
  neutral-variant: (
    0: var(--palette--neutral-variant-0),
    10: var(--palette--neutral-variant-10),
    20: var(--palette--neutral-variant-20),
    25: var(--palette--neutral-variant-25),
    30: var(--palette--neutral-variant-30),
    35: var(--palette--neutral-variant-35),
    40: var(--palette--neutral-variant-40),
    50: var(--palette--neutral-variant-50),
    60: var(--palette--neutral-variant-60),
    70: var(--palette--neutral-variant-70),
    80: var(--palette--neutral-variant-80),
    90: var(--palette--neutral-variant-90),
    95: var(--palette--neutral-variant-95),
    98: var(--palette--neutral-variant-98),
    99: var(--palette--neutral-variant-99),
    100: var(--palette--neutral-variant-100),
  ),
  error: (
    0: var(--palette--error-0),
    10: var(--palette--error-10),
    20: var(--palette--error-20),
    25: var(--palette--error-25),
    30: var(--palette--error-30),
    35: var(--palette--error-35),
    40: var(--palette--error-40),
    50: var(--palette--error-50),
    60: var(--palette--error-60),
    70: var(--palette--error-70),
    80: var(--palette--error-80),
    90: var(--palette--error-90),
    95: var(--palette--error-95),
    98: var(--palette--error-98),
    99: var(--palette--error-99),
    100: var(--palette--error-100),
  ),
);
$_matTertiaryAdapterPaletteDark: (
  0: var(--palette--tertiary-0),
  10: var(--palette--tertiary-10),
  20: var(--color--tertiary--contrast),
  25: var(--palette--tertiary-25),
  30: var(--color--tertiary-container),
  35: var(--palette--tertiary-35),
  40: var(--palette--tertiary-40),
  50: var(--palette--tertiary-50),
  60: var(--palette--tertiary-60),
  70: var(--palette--tertiary-70),
  80: var(--color--tertiary),
  90: var(--color--tertiary-container--contrast),
  95: var(--palette--tertiary-95),
  98: var(--palette--tertiary-98),
  99: var(--palette--tertiary-99),
  100: var(--palette--tertiary-100),
  secondary: (
    0: var(--palette--secondary-0),
    10: var(--palette--secondary-10),
    20: var(--palette--secondary-20),
    25: var(--palette--secondary-25),
    30: var(--palette--secondary-30),
    35: var(--palette--secondary-35),
    40: var(--palette--secondary-40),
    50: var(--palette--secondary-50),
    60: var(--palette--secondary-60),
    70: var(--palette--secondary-70),
    80: var(--palette--secondary-80),
    90: var(--palette--secondary-90),
    95: var(--palette--secondary-95),
    98: var(--palette--secondary-98),
    99: var(--palette--secondary-99),
    100: var(--palette--secondary-100),
  ),
  neutral: (
    0: var(--palette--neutral-0),
    10: var(--palette--neutral-10),
    20: var(--palette--neutral-20),
    25: var(--palette--neutral-25),
    30: var(--palette--neutral-30),
    35: var(--palette--neutral-35),
    40: var(--palette--neutral-40),
    50: var(--palette--neutral-50),
    60: var(--palette--neutral-60),
    70: var(--palette--neutral-70),
    80: var(--palette--neutral-80),
    90: var(--palette--neutral-90),
    95: var(--palette--neutral-95),
    98: var(--palette--neutral-98),
    99: var(--palette--neutral-99),
    100: var(--palette--neutral-100),
    4: var(--palette--neutral-4),
    6: var(--palette--neutral-6),
    12: var(--palette--neutral-12),
    17: var(--palette--neutral-17),
    22: var(--palette--neutral-22),
    24: var(--palette--neutral-24),
    87: var(--palette--neutral-87),
    92: var(--palette--neutral-92),
    94: var(--palette--neutral-94),
    96: var(--palette--neutral-96),
  ),
  neutral-variant: (
    0: var(--palette--neutral-variant-0),
    10: var(--palette--neutral-variant-10),
    20: var(--palette--neutral-variant-20),
    25: var(--palette--neutral-variant-25),
    30: var(--palette--neutral-variant-30),
    35: var(--palette--neutral-variant-35),
    40: var(--palette--neutral-variant-40),
    50: var(--palette--neutral-variant-50),
    60: var(--palette--neutral-variant-60),
    70: var(--palette--neutral-variant-70),
    80: var(--palette--neutral-variant-80),
    90: var(--palette--neutral-variant-90),
    95: var(--palette--neutral-variant-95),
    98: var(--palette--neutral-variant-98),
    99: var(--palette--neutral-variant-99),
    100: var(--palette--neutral-variant-100),
  ),
  error: (
    0: var(--palette--error-0),
    10: var(--palette--error-10),
    20: var(--palette--error-20),
    25: var(--palette--error-25),
    30: var(--palette--error-30),
    35: var(--palette--error-35),
    40: var(--palette--error-40),
    50: var(--palette--error-50),
    60: var(--palette--error-60),
    70: var(--palette--error-70),
    80: var(--palette--error-80),
    90: var(--palette--error-90),
    95: var(--palette--error-95),
    98: var(--palette--error-98),
    99: var(--palette--error-99),
    100: var(--palette--error-100),
  ),
);

@mixin _gen-palette-aliases($name, $values) {
  --color--#{$name}: var(--palette--#{$name}-#{list.nth($values, 1)});
  --color--#{$name}--contrast: var(--palette--#{$name}-#{list.nth($values, 2)});

  --color--#{$name}-container: var(--palette--#{$name}-#{list.nth($values, 3)});
  --color--#{$name}-container--contrast: var(
    --palette--#{$name}-#{list.nth($values, 4)}
  );
}

@mixin _gen-bg-palette-aliases($name, $palName, $values) {
  --color--#{$name}: var(--palette--#{$palName}-#{list.nth($values, 1)});
  --color--#{$name}--contrast: var(
    --palette--#{$palName}-#{list.nth($values, 2)}
  );
}

@mixin _gen-light-aliases() {
  $select: (40, 98, 90, 10);
  @include _gen-palette-aliases(primary, $select);
  @include _gen-palette-aliases(secondary, $select);
  @include _gen-palette-aliases(tertiary, $select);
  @include _gen-palette-aliases(error, $select);

  @include _gen-bg-palette-aliases(background, neutral, (99, 10));
  @include _gen-bg-palette-aliases(
    background-variant,
    neutral-variant,
    (80, 20)
  );
  @include _gen-bg-palette-aliases(surface, neutral, (99, 10));
  @include _gen-bg-palette-aliases(surface-variant, neutral-variant, (90, 30));

  --color--outline: var(--palette--neutral-variant-50);
  --color--scrim: var(--palette--neutral-0);
  --color--shadow: var(--palette--neutral-0);
}

@mixin _gen-dark-aliases() {
  $select: (80, 20, 30, 90);
  @include _gen-palette-aliases(primary, $select);
  @include _gen-palette-aliases(secondary, $select);
  @include _gen-palette-aliases(tertiary, $select);
  @include _gen-palette-aliases(error, $select);

  @include _gen-bg-palette-aliases(background, neutral, (10, 90));
  @include _gen-bg-palette-aliases(
    background-variant,
    neutral-variant,
    (20, 80)
  );
  @include _gen-bg-palette-aliases(surface, neutral, (20, 90));
  @include _gen-bg-palette-aliases(surface-variant, neutral-variant, (30, 90));

  --color--outline: var(--palette--neutral-60);
  --color--scrim: var(--palette--neutral-0);
  --color--shadow: var(--palette--neutral-0);
}

@mixin generate($name, $isDefault: false, $typography: null, $density: null) {
  $selector: '[theme="#{$name}"]';
  @if $isDefault {
    $selector: "body:not([theme]), #{$selector}";
  }

  $density: $density or
    (
      scale: -5,
    );

  $light: matx.define-theme(
    (
      color: (
        theme-type: light,
        primary: $_matAdapterPaletteLight,
        tertiary: $_matTertiaryAdapterPaletteLight,
      ),
      typography: $typography,
      density: $density,
    )
  );

  #{$selector} {
    @include _gen-light-aliases();
    @if $isDefault {
      @include mat.all-component-themes($light);
    } @else {
      @include mat.all-component-colors($light);
    }
  }

  $dark: matx.define-theme(
    (
      color: (
        theme-type: dark,
        primary: $_matAdapterPaletteDark,
        tertiary: $_matTertiaryAdapterPaletteDark,
      ),
      typography: $typography,
      density: $density,
    )
  );

  $darkSelector: 'html[theme-mode="dark"] [theme="#{$name}"]';
  $prefDarkSelector: 'html:not([theme-mode="light"]) [theme="#{$name}"]';

  @if $isDefault {
    $darkSelector: "html[theme-mode="
      dark
      "] body:not([theme]), #{$darkSelector}";
    $prefDarkSelector: "html:not([theme-mode="
      light
      "])  body:not([theme]), #{$prefDarkSelector}";
  }

  #{$darkSelector} {
    @include _gen-dark-aliases();
    @include mat.all-component-colors($dark);
  }

  @media (prefers-color-scheme: dark) {
    #{$prefDarkSelector} {
      @include _gen-dark-aliases();
      @include mat.all-component-colors($dark);
    }
  }
}

@mixin generate-core() {
  @include mat.core();
}
