@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;

$_matAdapterPalette: (
  0: var(--palette--primary-0),
  10: var(--palette--primary-10),
  20: var(--palette--primary-20),
  25: var(--palette--primary-25),
  30: var(--palette--primary-30),
  35: var(--palette--primary-35),
  40: var(--palette--primary-40),
  50: var(--palette--primary-50),
  60: var(--palette--primary-60),
  70: var(--palette--primary-70),
  80: var(--palette--primary-80),
  90: var(--palette--primary-90),
  95: var(--palette--primary-95),
  98: var(--palette--primary-98),
  99: var(--palette--primary-99),
  100: var(--palette--primary-100),
  secondary: (
    0: var(--palette--secondary-0),
    10: var(--palette--secondary-10),
    20: var(--palette--secondary-20),
    25: var(--palette--secondary-25),
    30: var(--palette--secondary-30),
    35: var(--palette--secondary-35),
    40: var(--palette--secondary-40),
    50: var(--palette--secondary-50),
    60: var(--palette--secondary-60),
    70: var(--palette--secondary-70),
    80: var(--palette--secondary-80),
    90: var(--palette--secondary-90),
    95: var(--palette--secondary-95),
    98: var(--palette--secondary-98),
    99: var(--palette--secondary-99),
    100: var(--palette--secondary-100),
  ),
  neutral: (
    0: var(--palette--neutral-0),
    10: var(--palette--neutral-10),
    20: var(--palette--neutral-20),
    25: var(--palette--neutral-25),
    30: var(--palette--neutral-30),
    35: var(--palette--neutral-35),
    40: var(--palette--neutral-40),
    50: var(--palette--neutral-50),
    60: var(--palette--neutral-60),
    70: var(--palette--neutral-70),
    80: var(--palette--neutral-80),
    90: var(--palette--neutral-90),
    95: var(--palette--neutral-95),
    98: var(--palette--neutral-98),
    99: var(--palette--neutral-99),
    100: var(--palette--neutral-100),
    4: var(--palette--neutral-4),
    6: var(--palette--neutral-6),
    12: var(--palette--neutral-12),
    17: var(--palette--neutral-17),
    22: var(--palette--neutral-22),
    24: var(--palette--neutral-24),
    87: var(--palette--neutral-87),
    92: var(--palette--neutral-92),
    94: var(--palette--neutral-94),
    96: var(--palette--neutral-96),
  ),
  neutral-variant: (
    0: var(--palette--neutral-variant-0),
    10: var(--palette--neutral-variant-10),
    20: var(--palette--neutral-variant-20),
    25: var(--palette--neutral-variant-25),
    30: var(--palette--neutral-variant-30),
    35: var(--palette--neutral-variant-35),
    40: var(--palette--neutral-variant-40),
    50: var(--palette--neutral-variant-50),
    60: var(--palette--neutral-variant-60),
    70: var(--palette--neutral-variant-70),
    80: var(--palette--neutral-variant-80),
    90: var(--palette--neutral-variant-90),
    95: var(--palette--neutral-variant-95),
    98: var(--palette--neutral-variant-98),
    99: var(--palette--neutral-variant-99),
    100: var(--palette--neutral-variant-100),
  ),
  error: (
    0: var(--palette--error-0),
    10: var(--palette--error-10),
    20: var(--palette--error-20),
    25: var(--palette--error-25),
    30: var(--palette--error-30),
    35: var(--palette--error-35),
    40: var(--palette--error-40),
    50: var(--palette--error-50),
    60: var(--palette--error-60),
    70: var(--palette--error-70),
    80: var(--palette--error-80),
    90: var(--palette--error-90),
    95: var(--palette--error-95),
    98: var(--palette--error-98),
    99: var(--palette--error-99),
    100: var(--palette--error-100),
  ),
);

$_matTertiaryAdapterPalette: (
  0: var(--palette--tertiary-0),
  10: var(--palette--tertiary-10),
  20: var(--palette--tertiary-20),
  25: var(--palette--tertiary-25),
  30: var(--palette--tertiary-30),
  35: var(--palette--tertiary-35),
  40: var(--palette--tertiary-40),
  50: var(--palette--tertiary-50),
  60: var(--palette--tertiary-60),
  70: var(--palette--tertiary-70),
  80: var(--palette--tertiary-80),
  90: var(--palette--tertiary-90),
  95: var(--palette--tertiary-95),
  98: var(--palette--tertiary-98),
  99: var(--palette--tertiary-99),
  100: var(--palette--tertiary-100),
  secondary: (
    0: var(--palette--secondary-0),
    10: var(--palette--secondary-10),
    20: var(--palette--secondary-20),
    25: var(--palette--secondary-25),
    30: var(--palette--secondary-30),
    35: var(--palette--secondary-35),
    40: var(--palette--secondary-40),
    50: var(--palette--secondary-50),
    60: var(--palette--secondary-60),
    70: var(--palette--secondary-70),
    80: var(--palette--secondary-80),
    90: var(--palette--secondary-90),
    95: var(--palette--secondary-95),
    98: var(--palette--secondary-98),
    99: var(--palette--secondary-99),
    100: var(--palette--secondary-100),
  ),
  neutral: (
    0: var(--palette--neutral-0),
    10: var(--palette--neutral-10),
    20: var(--palette--neutral-20),
    25: var(--palette--neutral-25),
    30: var(--palette--neutral-30),
    35: var(--palette--neutral-35),
    40: var(--palette--neutral-40),
    50: var(--palette--neutral-50),
    60: var(--palette--neutral-60),
    70: var(--palette--neutral-70),
    80: var(--palette--neutral-80),
    90: var(--palette--neutral-90),
    95: var(--palette--neutral-95),
    98: var(--palette--neutral-98),
    99: var(--palette--neutral-99),
    100: var(--palette--neutral-100),
    4: var(--palette--neutral-4),
    6: var(--palette--neutral-6),
    12: var(--palette--neutral-12),
    17: var(--palette--neutral-17),
    22: var(--palette--neutral-22),
    24: var(--palette--neutral-24),
    87: var(--palette--neutral-87),
    92: var(--palette--neutral-92),
    94: var(--palette--neutral-94),
    96: var(--palette--neutral-96),
  ),
  neutral-variant: (
    0: var(--palette--neutral-variant-0),
    10: var(--palette--neutral-variant-10),
    20: var(--palette--neutral-variant-20),
    25: var(--palette--neutral-variant-25),
    30: var(--palette--neutral-variant-30),
    35: var(--palette--neutral-variant-35),
    40: var(--palette--neutral-variant-40),
    50: var(--palette--neutral-variant-50),
    60: var(--palette--neutral-variant-60),
    70: var(--palette--neutral-variant-70),
    80: var(--palette--neutral-variant-80),
    90: var(--palette--neutral-variant-90),
    95: var(--palette--neutral-variant-95),
    98: var(--palette--neutral-variant-98),
    99: var(--palette--neutral-variant-99),
    100: var(--palette--neutral-variant-100),
  ),
  error: (
    0: var(--palette--error-0),
    10: var(--palette--error-10),
    20: var(--palette--error-20),
    25: var(--palette--error-25),
    30: var(--palette--error-30),
    35: var(--palette--error-35),
    40: var(--palette--error-40),
    50: var(--palette--error-50),
    60: var(--palette--error-60),
    70: var(--palette--error-70),
    80: var(--palette--error-80),
    90: var(--palette--error-90),
    95: var(--palette--error-95),
    98: var(--palette--error-98),
    99: var(--palette--error-99),
    100: var(--palette--error-100),
  ),
);

@mixin _gen-light-aliases() {
  --color--primary: var(--palette--primary-40);
  --color--primary-lighter: var(--palette--primary-80);
  --color--primary-darker: var(--palette--primary-10);

  --color--secondary: var(--palette--secondary-40);
  --color--secondary-lighter: var(--palette--secondary-80);
  --color--secondary-darker: var(--palette--secondary-10);

  --color--tertiary: var(--palette--tertiary-40);
  --color--tertiary-lighter: var(--palette--tertiary-80);
  --color--tertiary-darker: var(--palette--tertiary-10);
}

@mixin _gen-dark-aliases() {
  --color--primary: var(--palette--primary-80);
  --color--primary-lighter: var(--palette--primary-90);
  --color--primary-darker: var(--palette--primary-20);

  --color--secondary: var(--palette--secondary-80);
  --color--secondary-lighter: var(--palette--secondary-90);
  --color--secondary-darker: var(--palette--secondary-20);

  --color--tertiary: var(--palette--tertiary-80);
  --color--tertiary-lighter: var(--palette--tertiary-90);
  --color--tertiary-darker: var(--palette--tertiary-20);
}

@mixin generate($name, $isDefault: false, $typography: null, $density: null) {
  $selector: '[theme="#{$name}"]';
  @if $isDefault {
    $selector: "html, #{$selector}";
  }

  $typography: $typography or
    (
      brand-family: "Comic Sans",
      bold-weight: 900,
    );

  $density: $density or
    (
      scale: -5,
    );

  $light: matx.define-theme(
    (
      color: (
        theme-type: light,
        primary: $_matAdapterPalette,
        tertiary: $_matTertiaryAdapterPalette,
      ),
      typography: $typography,
      density: $density,
    )
  );

  #{$selector} {
    @include _gen-light-aliases();
    @if $isDefault {
      @include mat.all-component-themes($light);
    } @else {
      @include mat.all-component-colors($light);
    }
  }

  $dark: matx.define-theme(
    (
      color: (
        theme-type: dark,
        primary: $_matAdapterPalette,
        tertiary: $_matTertiaryAdapterPalette,
      ),
      typography: $typography,
      density: $density,
    )
  );

  $darkSelector: 'html[theme-mode="dark"][theme="#{$name}"], html[theme-mode="dark"] [theme="#{$name}"]';
  $prefDarkSelector: 'html[theme="#{$name}"]:not([theme-mode="light"]), html:not([theme-mode="light"]) [theme="#{$name}"]';

  @if $isDefault {
    $darkSelector: "html[theme-mode='dark']:not([theme]), #{$darkSelector}";
    $prefDarkSelector: "html:not([theme-mode="
      light
      "]):not([theme]), #{$prefDarkSelector}";
  }

  #{$darkSelector} {
    @include _gen-dark-aliases();
    @include mat.all-component-colors($dark);
  }

  @media (prefers-color-scheme: dark) {
    #{$prefDarkSelector} {
      @include _gen-dark-aliases();
      @include mat.all-component-colors($dark);
    }
  }
}

@mixin generate-core() {
  @include mat.core();
}
