@use "sass:map";
@use "./generate-ng-material-theme" as material-theme;
@use "./generate-palette-vars" as palette-vars;
@use "./generate-typography-vars" as typography-vars;

@mixin generate($name, $isDefault, $themeCfg) {
  $primary: map.get($themeCfg, "primary");
  $secondary: map.get($themeCfg, "secondary");
  $tertiary: map.get($themeCfg, "tertiary");
  $neutral: map.get($themeCfg, "neutral");
  $neutral-variant: map.get($themeCfg, "neutral-variant");
  $error: map.get($themeCfg, "error");
  $typography: prepareTypography(map.get($themeCfg, "typography"));
  $density: map.get($themeCfg, "density");

  $selector: '[theme="#{$name}"]';
  @if $isDefault {
    $selector: "body:not([theme]), #{$selector}";
  }
  -theme-,
  #{$selector} {
    --theme: #{$name};
    --theme-default: #{$isDefault};

    @include palette-vars.generate(
      $primary,
      $secondary,
      $tertiary,
      $neutral,
      $neutral-variant,
      $error
    );
    @include typography-vars.generate($typography);
  }

  //@include material-theme.generate($name, $isDefault, $typography, $density);
}

@mixin generate-core {
  @include material-theme.generate-core();
  body {
    background-color: var(--color--background);
    color: var(--color--background--contrast);
    font-family: var(--typography--plain-family);
  }
}

@function prepareTypography($typography) {
  $typography: $typography or
    (
      plain-family: (
        Roboto,
        "Helvetica Neue",
        sans-serif,
      ),
      regular-weight: 400,
      medium-weight: 500,
      bold-weight: 700,
    );
  @return $typography;
}
