.theme {
  --mat-app-background-color: var(--color--background);
  --mat-app-text-color: var(--color--background--contrast);
  --mat-ripple-color: color-mix(
    in oklab,
    var(--color--background--contrast) 10%,
    transparent 0%
  );
  --mat-option-selected-state-label-text-color: var(
    --color--secondary-container--contrast
  );
  --mat-option-label-text-color: var(--color--background--contrast);
  --mat-option-hover-state-layer-color: color-mix(
    in oklab,
    var(--color--background--contrast) 8%,
    transparent 0%
  );
  --mat-option-focus-state-layer-color: color-mix(
    in oklab,
    var(--color--background--contrast) 12%,
    transparent 0%
  );
  --mat-option-selected-state-layer-color: var(--color--secondary-container);
  --mat-full-pseudo-checkbox-selected-icon-color: var(--color--primary);
  --mat-full-pseudo-checkbox-selected-checkmark-color: var(
    --color--primary--contrast
  );
  --mat-full-pseudo-checkbox-unselected-icon-color: var(
    --color--background-variant--contrast
  );
  --mat-full-pseudo-checkbox-disabled-selected-checkmark-color: var(
    --color--background
  );
  --mat-full-pseudo-checkbox-disabled-unselected-icon-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-full-pseudo-checkbox-disabled-selected-icon-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: var(--color--primary);
  --mat-minimal-pseudo-checkbox-disabled-selected-checkmark-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-elevated-card-container-color: var(--color--background);
  --mdc-elevated-card-container-elevation: 0px 2px 1px -1px color-mix(in oklab, var(
            --color--black
          )
          20%, transparent 0%),
    0px 1px 1px 0px color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 1px 3px 0px color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-outlined-card-container-color: var(--color--background);
  --mdc-outlined-card-outline-color: var(--color--surface-variant);
  --mdc-outlined-card-container-elevation: 0px 0px 0px 0px
      color-mix(in oklab, var(--color--black) 20%, transparent 0%),
    0px 0px 0px 0px color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 0px 0px 0px color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mat-card-subtitle-text-color: var(--color--background--contrast);
  --mdc-linear-progress-active-indicator-color: var(--color--primary);
  --mdc-linear-progress-track-color: var(--color--surface-variant);
  --mdc-plain-tooltip-container-color: var(--color--background--contrast);
  --mdc-plain-tooltip-supporting-text-color: var(--color--surface);
  --mdc-filled-text-field-caret-color: var(--color--primary);
  --mdc-filled-text-field-focus-active-indicator-color: var(--color--primary);
  --mdc-filled-text-field-focus-label-text-color: var(--color--primary);
  --mdc-filled-text-field-container-color: var(--color--surface-variant);
  --mdc-filled-text-field-disabled-container-color: color-mix(
    in oklab,
    var(--color--background--contrast) 4%,
    transparent 0%
  );
  --mdc-filled-text-field-label-text-color: var(
    --color--background-variant--contrast
  );
  --mdc-filled-text-field-hover-label-text-color: var(
    --color--background-variant--contrast
  );
  --mdc-filled-text-field-disabled-label-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-filled-text-field-input-text-color: var(--color--background--contrast);
  --mdc-filled-text-field-disabled-input-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-filled-text-field-input-text-placeholder-color: var(
    --color--background-variant--contrast
  );
  --mdc-filled-text-field-error-hover-label-text-color: var(
    --color--error-container--contrast
  );
  --mdc-filled-text-field-error-focus-label-text-color: var(--color--error);
  --mdc-filled-text-field-error-label-text-color: var(--color--error);
  --mdc-filled-text-field-active-indicator-color: var(
    --color--background-variant--contrast
  );
  --mdc-filled-text-field-disabled-active-indicator-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-filled-text-field-hover-active-indicator-color: var(
    --color--background--contrast
  );
  --mdc-filled-text-field-error-active-indicator-color: var(--color--error);
  --mdc-filled-text-field-error-focus-active-indicator-color: var(
    --color--error
  );
  --mdc-filled-text-field-error-hover-active-indicator-color: var(
    --color--error-container--contrast
  );
  --mdc-outlined-text-field-caret-color: var(--color--primary);
  --mdc-outlined-text-field-focus-outline-color: var(--color--primary);
  --mdc-outlined-text-field-focus-label-text-color: var(--color--primary);
  --mdc-outlined-text-field-label-text-color: var(
    --color--background-variant--contrast
  );
  --mdc-outlined-text-field-hover-label-text-color: var(
    --color--background--contrast
  );
  --mdc-outlined-text-field-disabled-label-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-outlined-text-field-input-text-color: var(
    --color--background--contrast
  );
  --mdc-outlined-text-field-disabled-input-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-outlined-text-field-input-text-placeholder-color: var(
    --color--background-variant--contrast
  );
  --mdc-outlined-text-field-error-focus-label-text-color: var(--color--error);
  --mdc-outlined-text-field-error-label-text-color: var(--color--error);
  --mdc-outlined-text-field-error-hover-label-text-color: var(
    --color--error-container--contrast
  );
  --mdc-outlined-text-field-outline-color: var(--color--outline);
  --mdc-outlined-text-field-disabled-outline-color: color-mix(
    in oklab,
    var(--color--background--contrast) 12%,
    transparent 0%
  );
  --mdc-outlined-text-field-hover-outline-color: var(
    --color--background--contrast
  );
  --mdc-outlined-text-field-error-focus-outline-color: var(--color--error);
  --mdc-outlined-text-field-error-hover-outline-color: var(
    --color--error-container--contrast
  );
  --mdc-outlined-text-field-error-outline-color: var(--color--error);
  --mat-form-field-focus-select-arrow-color: var(--color--primary);
  --mat-form-field-disabled-input-text-placeholder-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-form-field-state-layer-color: var(--color--background--contrast);
  --mat-form-field-error-text-color: var(--color--error);
  --mat-form-field-select-option-text-color: var(--color--background);
  --mat-form-field-select-disabled-option-text-color: color-mix(
    in oklab,
    var(--color--background) 38%,
    transparent 0%
  );
  --mat-form-field-leading-icon-color: var(
    --color--background-variant--contrast
  );
  --mat-form-field-disabled-leading-icon-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-form-field-trailing-icon-color: var(
    --color--background-variant--contrast
  );
  --mat-form-field-disabled-trailing-icon-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-form-field-error-focus-trailing-icon-color: var(--color--error);
  --mat-form-field-error-hover-trailing-icon-color: var(
    --color--error-container--contrast
  );
  --mat-form-field-error-trailing-icon-color: var(--color--error);
  --mat-form-field-enabled-select-arrow-color: var(
    --color--background-variant--contrast
  );
  --mat-form-field-disabled-select-arrow-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-form-field-hover-state-layer-opacity: 0.08;
  --mat-select-panel-background-color: var(--palette-ref--neutral-12);
  --mat-select-enabled-trigger-text-color: var(--color--background--contrast);
  --mat-select-disabled-trigger-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-select-placeholder-text-color: var(
    --color--background-variant--contrast
  );
  --mat-select-enabled-arrow-color: var(--color--background-variant--contrast);
  --mat-select-disabled-arrow-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-select-focused-arrow-color: var(--color--primary);
  --mat-select-invalid-arrow-color: var(--color--error);
  --mat-autocomplete-background-color: var(--palette-ref--neutral-12);
  --mdc-dialog-container-elevation-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  --mdc-dialog-container-shadow-color: #000;
  --mdc-dialog-container-color: var(--color--background);
  --mdc-dialog-subhead-color: var(--color--background--contrast);
  --mdc-dialog-supporting-text-color: var(
    --color--background-variant--contrast
  );
  --mdc-chip-outline-color: var(--color--outline);
  --mdc-chip-disabled-outline-color: color-mix(
    in oklab,
    var(--color--background--contrast) 12%,
    transparent 0%
  );
  --mdc-chip-focus-outline-color: var(--color--background-variant--contrast);
  --mdc-chip-hover-state-layer-opacity: 0.08;
  --mdc-chip-selected-hover-state-layer-opacity: 0.08;
  --mdc-chip-disabled-label-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-chip-elevated-selected-container-color: var(
    --color--secondary-container
  );
  --mdc-chip-flat-disabled-selected-container-color: color-mix(
    in oklab,
    var(--color--background--contrast) 12%,
    transparent 0%
  );
  --mdc-chip-focus-state-layer-color: var(
    --color--background-variant--contrast
  );
  --mdc-chip-hover-state-layer-color: var(
    --color--background-variant--contrast
  );
  --mdc-chip-selected-hover-state-layer-color: var(
    --color--secondary-container--contrast
  );
  --mdc-chip-focus-state-layer-opacity: 0.12;
  --mdc-chip-selected-focus-state-layer-color: var(
    --color--secondary-container--contrast
  );
  --mdc-chip-selected-focus-state-layer-opacity: 0.12;
  --mdc-chip-label-text-color: var(--color--background-variant--contrast);
  --mdc-chip-selected-label-text-color: var(
    --color--secondary-container--contrast
  );
  --mdc-chip-with-icon-icon-color: var(--color--background-variant--contrast);
  --mdc-chip-with-icon-disabled-icon-color: var(--color--background--contrast);
  --mdc-chip-with-icon-selected-icon-color: var(
    --color--secondary-container--contrast
  );
  --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: var(
    --color--background--contrast
  );
  --mdc-chip-with-trailing-icon-trailing-icon-color: var(
    --color--background-variant--contrast
  );
  --mat-chip-trailing-action-state-layer-color: var(
    --color--background-variant--contrast
  );
  --mat-chip-selected-trailing-action-state-layer-color: var(
    --color--secondary-container--contrast
  );
  --mat-chip-trailing-action-hover-state-layer-opacity: 0.08;
  --mat-chip-trailing-action-focus-state-layer-opacity: 0.12;
  --mat-chip-selected-disabled-trailing-icon-color: var(
    --color--background--contrast
  );
  --mat-chip-selected-trailing-icon-color: var(
    --color--secondary-container--contrast
  );
  --mdc-form-field-label-text-color: var(--color--background--contrast);
  --mdc-switch-selected-focus-state-layer-opacity: 0.12;
  --mdc-switch-selected-hover-state-layer-opacity: 0.08;
  --mdc-switch-selected-pressed-state-layer-opacity: 0.12;
  --mdc-switch-unselected-focus-state-layer-opacity: 0.12;
  --mdc-switch-unselected-hover-state-layer-opacity: 0.08;
  --mdc-switch-unselected-pressed-state-layer-opacity: 0.12;
  --mdc-switch-selected-focus-state-layer-color: var(--color--primary);
  --mdc-switch-selected-handle-color: var(--color--primary--contrast);
  --mdc-switch-selected-hover-state-layer-color: var(--color--primary);
  --mdc-switch-selected-pressed-state-layer-color: var(--color--primary);
  --mdc-switch-selected-focus-handle-color: var(--color--primary-container);
  --mdc-switch-selected-hover-handle-color: var(--color--primary-container);
  --mdc-switch-selected-pressed-handle-color: var(--color--primary-container);
  --mdc-switch-selected-focus-track-color: var(--color--primary);
  --mdc-switch-selected-hover-track-color: var(--color--primary);
  --mdc-switch-selected-pressed-track-color: var(--color--primary);
  --mdc-switch-selected-track-color: var(--color--primary);
  --mdc-switch-disabled-selected-handle-color: var(--color--background);
  --mdc-switch-disabled-selected-icon-color: var(--color--background--contrast);
  --mdc-switch-disabled-selected-track-color: var(
    --color--background--contrast
  );
  --mdc-switch-disabled-unselected-handle-color: var(
    --color--background--contrast
  );
  --mdc-switch-disabled-unselected-icon-color: var(--color--surface-variant);
  --mdc-switch-disabled-unselected-track-color: var(--color--surface-variant);
  --mdc-switch-selected-icon-color: var(--color--primary-container--contrast);
  --mdc-switch-unselected-focus-handle-color: var(
    --color--background-variant--contrast
  );
  --mdc-switch-unselected-focus-state-layer-color: var(
    --color--background--contrast
  );
  --mdc-switch-unselected-focus-track-color: var(--color--surface-variant);
  --mdc-switch-unselected-handle-color: var(--color--outline);
  --mdc-switch-unselected-hover-handle-color: var(
    --color--background-variant--contrast
  );
  --mdc-switch-unselected-hover-state-layer-color: var(
    --color--background--contrast
  );
  --mdc-switch-unselected-hover-track-color: var(--color--surface-variant);
  --mdc-switch-unselected-icon-color: var(--color--surface-variant);
  --mdc-switch-unselected-pressed-handle-color: var(
    --color--background-variant--contrast
  );
  --mdc-switch-unselected-pressed-state-layer-color: var(
    --color--background--contrast
  );
  --mdc-switch-unselected-pressed-track-color: var(--color--surface-variant);
  --mdc-switch-unselected-track-color: var(--color--surface-variant);
  --mat-switch-track-outline-color: var(--color--outline);
  --mat-switch-disabled-unselected-track-outline-color: var(
    --color--background--contrast
  );
  --mdc-radio-disabled-selected-icon-color: var(--color--background--contrast);
  --mdc-radio-disabled-unselected-icon-color: var(
    --color--background--contrast
  );
  --mdc-radio-unselected-hover-icon-color: var(--color--background--contrast);
  --mdc-radio-unselected-icon-color: var(--color--background-variant--contrast);
  --mdc-radio-unselected-pressed-icon-color: var(--color--background--contrast);
  --mdc-radio-selected-focus-icon-color: var(--color--primary);
  --mdc-radio-selected-hover-icon-color: var(--color--primary);
  --mdc-radio-selected-icon-color: var(--color--primary);
  --mdc-radio-selected-pressed-icon-color: var(--color--primary);
  --mdc-form-field-label-text-color: var(--color--background--contrast);
  --mat-radio-ripple-color: var(--color--background--contrast);
  --mat-radio-checked-ripple-color: var(--color--primary);
  --mat-radio-disabled-label-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-slider-handle-color: var(--color--primary);
  --mdc-slider-focus-handle-color: var(--color--primary);
  --mdc-slider-hover-handle-color: var(--color--primary);
  --mdc-slider-active-track-color: var(--color--primary);
  --mdc-slider-inactive-track-color: var(--color--surface-variant);
  --mdc-slider-with-tick-marks-inactive-container-color: var(
    --color--background-variant--contrast
  );
  --mdc-slider-with-tick-marks-active-container-color: var(
    --color--primary--contrast
  );
  --mdc-slider-disabled-active-track-color: var(--color--background--contrast);
  --mdc-slider-disabled-handle-color: var(--color--background--contrast);
  --mdc-slider-disabled-inactive-track-color: var(
    --color--background--contrast
  );
  --mdc-slider-label-container-color: var(--color--primary);
  --mdc-slider-label-label-text-color: var(--color--primary--contrast);
  --mdc-slider-with-overlap-handle-outline-color: var(
    --color--primary--contrast
  );
  --mdc-slider-with-tick-marks-disabled-container-color: var(
    --color--background--contrast
  );
  --mdc-slider-handle-elevation: 1;
  --mdc-slider-handle-shadow-color: var(--color--black);
  --mat-slider-ripple-color: var(--color--primary);
  --mat-slider-hover-state-layer-color: color-mix(
    in oklab,
    var(--color--primary) 5%,
    transparent 0%
  );
  --mat-slider-focus-state-layer-color: color-mix(
    in oklab,
    var(--color--primary) 20%,
    transparent 0%
  );
  --mat-menu-item-label-text-color: var(--color--background--contrast);
  --mat-menu-item-icon-color: var(--color--background-variant--contrast);
  --mat-menu-item-hover-state-layer-color: color-mix(
    in oklab,
    var(--color--background--contrast) 8%,
    transparent 0%
  );
  --mat-menu-item-focus-state-layer-color: color-mix(
    in oklab,
    var(--color--background--contrast) 12%,
    transparent 0%
  );
  --mat-menu-container-color: var(--palette-ref--neutral-12);
  --mat-menu-divider-color: var(--color--surface-variant);
  --mdc-list-list-item-container-color: transparent;
  --mdc-list-list-item-leading-avatar-color: var(--color--primary-container);
  --mdc-list-list-item-disabled-state-layer-color: var(
    --color--background--contrast
  );
  --mdc-list-list-item-disabled-state-layer-opacity: 0.12;
  --mdc-list-list-item-label-text-color: var(--color--background--contrast);
  --mdc-list-list-item-supporting-text-color: var(
    --color--background-variant--contrast
  );
  --mdc-list-list-item-leading-icon-color: var(
    --color--background-variant--contrast
  );
  --mdc-list-list-item-trailing-supporting-text-color: var(
    --color--background-variant--contrast
  );
  --mdc-list-list-item-trailing-icon-color: var(
    --color--background-variant--contrast
  );
  --mdc-list-list-item-selected-trailing-icon-color: var(--color--primary);
  --mdc-list-list-item-disabled-label-text-color: var(
    --color--background--contrast
  );
  --mdc-list-list-item-disabled-leading-icon-color: var(
    --color--background--contrast
  );
  --mdc-list-list-item-disabled-trailing-icon-color: var(
    --color--background--contrast
  );
  --mdc-list-list-item-hover-label-text-color: var(
    --color--background--contrast
  );
  --mdc-list-list-item-focus-label-text-color: var(
    --color--background--contrast
  );
  --mdc-list-list-item-hover-state-layer-color: var(
    --color--background--contrast
  );
  --mdc-list-list-item-hover-state-layer-opacity: 0.08;
  --mdc-list-list-item-focus-state-layer-color: var(
    --color--background--contrast
  );
  --mdc-list-list-item-focus-state-layer-opacity: 0.12;
  --mat-list-active-indicator-color: var(--color--secondary-container);
  --mat-paginator-container-text-color: var(--color--background--contrast);
  --mat-paginator-container-background-color: var(--color--background);
  --mat-paginator-enabled-icon-color: var(
    --color--background-variant--contrast
  );
  --mat-paginator-disabled-icon-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-tab-indicator-active-indicator-color: var(--color--primary);
  --mat-tab-header-divider-color: var(--color--surface-variant);
  --mat-tab-header-pagination-icon-color: var(--color--background--contrast);
  --mat-tab-header-inactive-label-text-color: var(
    --color--background--contrast
  );
  --mat-tab-header-active-label-text-color: var(--color--background--contrast);
  --mat-tab-header-active-ripple-color: var(--color--background--contrast);
  --mat-tab-header-inactive-ripple-color: var(--color--background--contrast);
  --mat-tab-header-inactive-focus-label-text-color: var(
    --color--background--contrast
  );
  --mat-tab-header-inactive-hover-label-text-color: var(
    --color--background--contrast
  );
  --mat-tab-header-active-focus-label-text-color: var(
    --color--background--contrast
  );
  --mat-tab-header-active-hover-label-text-color: var(
    --color--background--contrast
  );
  --mat-tab-header-active-focus-indicator-color: var(--color--primary);
  --mat-tab-header-active-hover-indicator-color: var(--color--primary);
  --mdc-checkbox-disabled-selected-checkmark-color: var(--color--background);
  --mdc-checkbox-selected-focus-state-layer-opacity: 0.12;
  --mdc-checkbox-selected-hover-state-layer-opacity: 0.08;
  --mdc-checkbox-selected-pressed-state-layer-opacity: 0.12;
  --mdc-checkbox-unselected-focus-state-layer-opacity: 0.12;
  --mdc-checkbox-unselected-hover-state-layer-opacity: 0.08;
  --mdc-checkbox-unselected-pressed-state-layer-opacity: 0.12;
  --mdc-checkbox-disabled-selected-icon-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-checkbox-disabled-unselected-icon-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-checkbox-selected-checkmark-color: var(--color--primary--contrast);
  --mdc-checkbox-selected-focus-icon-color: var(--color--primary);
  --mdc-checkbox-selected-hover-icon-color: var(--color--primary);
  --mdc-checkbox-selected-icon-color: var(--color--primary);
  --mdc-checkbox-selected-pressed-icon-color: var(--color--primary);
  --mdc-checkbox-unselected-focus-icon-color: var(
    --color--background--contrast
  );
  --mdc-checkbox-unselected-hover-icon-color: var(
    --color--background--contrast
  );
  --mdc-checkbox-unselected-icon-color: var(
    --color--background-variant--contrast
  );
  --mdc-checkbox-unselected-pressed-icon-color: var(
    --color--background--contrast
  );
  --mdc-checkbox-selected-focus-state-layer-color: var(--color--primary);
  --mdc-checkbox-selected-hover-state-layer-color: var(--color--primary);
  --mdc-checkbox-selected-pressed-state-layer-color: var(
    --color--background--contrast
  );
  --mdc-checkbox-unselected-focus-state-layer-color: var(
    --color--background--contrast
  );
  --mdc-checkbox-unselected-hover-state-layer-color: var(
    --color--background--contrast
  );
  --mdc-checkbox-unselected-pressed-state-layer-color: var(--color--primary);
  --mdc-form-field-label-text-color: var(--color--background--contrast);
  --mat-checkbox-disabled-label-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-text-button-label-text-color: var(--color--primary);
  --mdc-text-button-disabled-label-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-protected-button-container-color: var(--color--background);
  --mdc-protected-button-label-text-color: var(--color--primary);
  --mdc-protected-button-disabled-container-color: color-mix(
    in oklab,
    var(--color--background--contrast) 12%,
    transparent 0%
  );
  --mdc-protected-button-disabled-label-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-protected-button-container-elevation-shadow: 0px 2px 1px -1px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 1px 1px 0px color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 1px 3px 0px color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-protected-button-disabled-container-elevation-shadow: 0px 0px 0px 0px
      color-mix(in oklab, var(--color--black) 20%, transparent 0%),
    0px 0px 0px 0px color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 0px 0px 0px color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-protected-button-focus-container-elevation-shadow: 0px 2px 1px -1px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 1px 1px 0px color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 1px 3px 0px color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-protected-button-hover-container-elevation-shadow: 0px 3px 3px -2px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 3px 4px 0px color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 1px 8px 0px color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-protected-button-pressed-container-elevation-shadow: 0px 2px 1px -1px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 1px 1px 0px color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 1px 3px 0px color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-protected-button-container-shadow-color: var(--color--black);
  --mdc-filled-button-container-color: var(--color--primary);
  --mdc-filled-button-label-text-color: var(--color--primary--contrast);
  --mdc-filled-button-disabled-container-color: color-mix(
    in oklab,
    var(--color--background--contrast) 12%,
    transparent 0%
  );
  --mdc-filled-button-disabled-label-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-outlined-button-disabled-outline-color: color-mix(
    in oklab,
    var(--color--background--contrast) 12%,
    transparent 0%
  );
  --mdc-outlined-button-disabled-label-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-outlined-button-label-text-color: var(--color--primary);
  --mdc-outlined-button-outline-color: var(--color--outline);
  --mat-text-button-state-layer-color: var(--color--primary);
  --mat-text-button-disabled-state-layer-color: var(
    --color--background-variant--contrast
  );
  --mat-text-button-ripple-color: color-mix(
    in oklab,
    var(--color--primary) 12%,
    transparent 0%
  );
  --mat-text-button-hover-state-layer-opacity: 0.08;
  --mat-text-button-focus-state-layer-opacity: 0.12;
  --mat-text-button-pressed-state-layer-opacity: 0.12;
  --mat-protected-button-state-layer-color: var(--color--primary);
  --mat-protected-button-disabled-state-layer-color: var(
    --color--background-variant--contrast
  );
  --mat-protected-button-ripple-color: color-mix(
    in oklab,
    var(--color--primary) 12%,
    transparent 0%
  );
  --mat-protected-button-hover-state-layer-opacity: 0.08;
  --mat-protected-button-focus-state-layer-opacity: 0.12;
  --mat-protected-button-pressed-state-layer-opacity: 0.12;
  --mat-filled-button-state-layer-color: var(--color--primary--contrast);
  --mat-filled-button-disabled-state-layer-color: var(
    --color--background-variant--contrast
  );
  --mat-filled-button-ripple-color: color-mix(
    in oklab,
    var(--color--primary--contrast) 12%,
    transparent 0%
  );
  --mat-filled-button-hover-state-layer-opacity: 0.08;
  --mat-filled-button-focus-state-layer-opacity: 0.12;
  --mat-filled-button-pressed-state-layer-opacity: 0.12;
  --mat-outlined-button-state-layer-color: var(--color--primary);
  --mat-outlined-button-disabled-state-layer-color: var(
    --color--background-variant--contrast
  );
  --mat-outlined-button-ripple-color: color-mix(
    in oklab,
    var(--color--primary) 12%,
    transparent 0%
  );
  --mat-outlined-button-hover-state-layer-opacity: 0.08;
  --mat-outlined-button-focus-state-layer-opacity: 0.12;
  --mat-outlined-button-pressed-state-layer-opacity: 0.12;
  --mdc-icon-button-icon-color: var(--color--background-variant--contrast);
  --mdc-icon-button-disabled-icon-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-icon-button-state-layer-color: var(
    --color--background-variant--contrast
  );
  --mat-icon-button-disabled-state-layer-color: var(
    --color--background-variant--contrast
  );
  --mat-icon-button-ripple-color: color-mix(
    in oklab,
    var(--color--background-variant--contrast) 12%,
    transparent 0%
  );
  --mat-icon-button-hover-state-layer-opacity: 0.08;
  --mat-icon-button-focus-state-layer-opacity: 0.12;
  --mat-icon-button-pressed-state-layer-opacity: 0.12;
  --mdc-extended-fab-container-elevation-shadow: 0px 3px 5px -1px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 6px 10px 0px
      color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 1px 18px 0px
      color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-extended-fab-focus-container-elevation-shadow: 0px 3px 5px -1px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 6px 10px 0px
      color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 1px 18px 0px
      color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-extended-fab-hover-container-elevation-shadow: 0px 5px 5px -3px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 8px 10px 1px
      color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 3px 14px 2px
      color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-extended-fab-pressed-container-elevation-shadow: 0px 3px 5px -1px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 6px 10px 0px
      color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 1px 18px 0px
      color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-extended-fab-container-shadow-color: var(--color--black);
  --mdc-fab-container-color: var(--color--primary-container);
  --mdc-fab-container-elevation-shadow: 0px 3px 5px -1px color-mix(in oklab, var(
            --color--black
          )
          20%, transparent 0%),
    0px 6px 10px 0px
      color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 1px 18px 0px
      color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-fab-focus-container-elevation-shadow: 0px 3px 5px -1px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 6px 10px 0px
      color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 1px 18px 0px
      color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-fab-hover-container-elevation-shadow: 0px 5px 5px -3px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 8px 10px 1px
      color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 3px 14px 2px
      color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-fab-pressed-container-elevation-shadow: 0px 3px 5px -1px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 6px 10px 0px
      color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 1px 18px 0px
      color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-fab-container-shadow-color: var(--color--black);
  --mdc-fab-small-container-color: var(--color--primary-container);
  --mdc-fab-small-container-elevation-shadow: 0px 3px 5px -1px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 6px 10px 0px
      color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 1px 18px 0px
      color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-fab-small-focus-container-elevation-shadow: 0px 3px 5px -1px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 6px 10px 0px
      color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 1px 18px 0px
      color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-fab-small-hover-container-elevation-shadow: 0px 5px 5px -3px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 8px 10px 1px
      color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 3px 14px 2px
      color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-fab-small-pressed-container-elevation-shadow: 0px 3px 5px -1px color-mix(in
          oklab, var(--color--black) 20%, transparent 0%),
    0px 6px 10px 0px
      color-mix(in oklab, var(--color--black) 14%, transparent 0%),
    0px 1px 18px 0px
      color-mix(in oklab, var(--color--black) 12%, transparent 0%);
  --mdc-fab-small-container-shadow-color: var(--color--black);
  --mat-fab-foreground-color: var(--color--primary-container--contrast);
  --mat-fab-state-layer-color: var(--color--primary-container--contrast);
  --mat-fab-ripple-color: color-mix(
    in oklab,
    var(--color--primary-container--contrast) 12%,
    transparent 0%
  );
  --mat-fab-hover-state-layer-opacity: 0.08;
  --mat-fab-focus-state-layer-opacity: 0.12;
  --mat-fab-pressed-state-layer-opacity: 0.12;
  --mat-fab-disabled-state-container-color: color-mix(
    in oklab,
    var(--color--background--contrast) 12%,
    transparent 0%
  );
  --mat-fab-disabled-state-foreground-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-fab-small-foreground-color: var(--color--primary-container--contrast);
  --mat-fab-small-state-layer-color: var(--color--primary-container--contrast);
  --mat-fab-small-ripple-color: color-mix(
    in oklab,
    var(--color--primary-container--contrast) 12%,
    transparent 0%
  );
  --mat-fab-small-hover-state-layer-opacity: 0.08;
  --mat-fab-small-focus-state-layer-opacity: 0.12;
  --mat-fab-small-pressed-state-layer-opacity: 0.12;
  --mat-fab-small-disabled-state-container-color: color-mix(
    in oklab,
    var(--color--background--contrast) 12%,
    transparent 0%
  );
  --mat-fab-small-disabled-state-foreground-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mdc-snackbar-container-color: var(--color--background--contrast);
  --mdc-snackbar-supporting-text-color: var(--color--surface);
  --mat-snack-bar-button-color: var(--color--primary);
  --mat-table-background-color: var(--color--background);
  --mat-table-header-headline-color: var(--color--background--contrast);
  --mat-table-row-item-label-text-color: var(--color--background--contrast);
  --mat-table-row-item-outline-color: var(--color--surface-variant);
  --mdc-circular-progress-active-indicator-color: var(--color--primary);
  --mat-badge-background-color: var(--color--error);
  --mat-badge-text-color: var(--color--error--contrast);
  --mat-badge-disabled-state-background-color: color-mix(
    in oklab,
    var(--color--error) 38%,
    transparent 0%
  );
  --mat-badge-disabled-state-text-color: var(--color--error--contrast);
  --mat-bottom-sheet-container-text-color: var(--color--background--contrast);
  --mat-bottom-sheet-container-background-color: var(--color--background);
  --mat-standard-button-toggle-hover-state-layer-opacity: 0.08;
  --mat-standard-button-toggle-focus-state-layer-opacity: 0.12;
  --mat-standard-button-toggle-text-color: var(--color--background--contrast);
  --mat-standard-button-toggle-state-layer-color: var(
    --color--background--contrast
  );
  --mat-standard-button-toggle-selected-state-background-color: var(
    --color--secondary-container
  );
  --mat-standard-button-toggle-selected-state-text-color: var(
    --color--secondary-container--contrast
  );
  --mat-standard-button-toggle-disabled-state-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-standard-button-toggle-disabled-selected-state-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-standard-button-toggle-disabled-selected-state-background-color: color-mix(
    in oklab,
    var(--color--background--contrast) 12%,
    transparent 0%
  );
  --mat-standard-button-toggle-divider-color: var(--color--outline);
  --mat-datepicker-calendar-date-selected-state-text-color: var(
    --color--primary--contrast
  );
  --mat-datepicker-calendar-date-selected-state-background-color: var(
    --color--primary
  );
  --mat-datepicker-calendar-date-selected-disabled-state-background-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-datepicker-calendar-date-today-selected-state-outline-color: var(
    --color--primary
  );
  --mat-datepicker-calendar-date-focus-state-background-color: color-mix(
    in oklab,
    var(--color--background--contrast) 12%,
    transparent 0%
  );
  --mat-datepicker-calendar-date-hover-state-background-color: color-mix(
    in oklab,
    var(--color--background--contrast) 8%,
    transparent 0%
  );
  --mat-datepicker-toggle-active-state-icon-color: var(
    --color--background-variant--contrast
  );
  --mat-datepicker-calendar-date-in-range-state-background-color: var(
    --color--primary-container
  );
  --mat-datepicker-calendar-date-in-comparison-range-state-background-color: var(
    --color--tertiary-container
  );
  --mat-datepicker-calendar-date-in-overlap-range-state-background-color: var(
    --color--secondary-container
  );
  --mat-datepicker-calendar-date-in-overlap-range-selected-state-background-color: var(
    --color--secondary
  );
  --mat-datepicker-toggle-icon-color: var(
    --color--background-variant--contrast
  );
  --mat-datepicker-calendar-body-label-text-color: var(
    --color--background--contrast
  );
  --mat-datepicker-calendar-period-button-text-color: var(
    --color--background-variant--contrast
  );
  --mat-datepicker-calendar-period-button-icon-color: var(
    --color--background-variant--contrast
  );
  --mat-datepicker-calendar-navigation-button-icon-color: var(
    --color--background-variant--contrast
  );
  --mat-datepicker-calendar-header-text-color: var(
    --color--background-variant--contrast
  );
  --mat-datepicker-calendar-date-today-outline-color: var(--color--primary);
  --mat-datepicker-calendar-date-today-disabled-state-outline-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-datepicker-calendar-date-text-color: var(--color--background--contrast);
  --mat-datepicker-calendar-date-disabled-state-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-datepicker-calendar-date-preview-state-outline-color: var(
    --color--primary
  );
  --mat-datepicker-range-input-separator-color: var(
    --color--background--contrast
  );
  --mat-datepicker-range-input-disabled-state-separator-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-datepicker-range-input-disabled-state-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-datepicker-calendar-container-background-color: var(
    --palette-ref--neutral-17
  );
  --mat-datepicker-calendar-container-text-color: var(
    --color--background--contrast
  );
  --mat-divider-color: var(--color--surface-variant);
  --mat-expansion-container-background-color: var(--color--background);
  --mat-expansion-container-text-color: var(--color--background--contrast);
  --mat-expansion-actions-divider-color: var(--color--surface-variant);
  --mat-expansion-header-hover-state-layer-color: color-mix(
    in oklab,
    var(--color--background--contrast) 8%,
    transparent 0%
  );
  --mat-expansion-header-focus-state-layer-color: color-mix(
    in oklab,
    var(--color--background--contrast) 12%,
    transparent 0%
  );
  --mat-expansion-header-disabled-state-text-color: color-mix(
    in oklab,
    var(--color--background--contrast) 38%,
    transparent 0%
  );
  --mat-expansion-header-text-color: var(--color--background--contrast);
  --mat-expansion-header-description-color: var(
    --color--background-variant--contrast
  );
  --mat-expansion-header-indicator-color: var(
    --color--background-variant--contrast
  );
  --mat-sidenav-container-background-color: var(--color--background);
  --mat-sidenav-container-text-color: var(
    --color--background-variant--contrast
  );
  --mat-sidenav-content-background-color: var(--color--background);
  --mat-sidenav-content-text-color: var(--color--background--contrast);
  --mat-sidenav-scrim-color: color-mix(
    in oklab,
    var(--color--background-variant) 40%,
    transparent 0%
  );
  --mat-stepper-header-icon-foreground-color: var(--color--background);
  --mat-stepper-header-selected-state-icon-background-color: var(
    --color--primary
  );
  --mat-stepper-header-selected-state-icon-foreground-color: var(
    --color--primary--contrast
  );
  --mat-stepper-header-edit-state-icon-background-color: var(--color--primary);
  --mat-stepper-header-edit-state-icon-foreground-color: var(
    --color--primary--contrast
  );
  --mat-stepper-container-color: var(--color--background);
  --mat-stepper-line-color: var(--color--surface-variant);
  --mat-stepper-header-hover-state-layer-color: color-mix(
    in oklab,
    var(--color--background--contrast) 8%,
    transparent 0%
  );
  --mat-stepper-header-focus-state-layer-color: color-mix(
    in oklab,
    var(--color--background--contrast) 12%,
    transparent 0%
  );
  --mat-stepper-header-label-text-color: var(
    --color--background-variant--contrast
  );
  --mat-stepper-header-optional-label-text-color: var(
    --color--background-variant--contrast
  );
  --mat-stepper-header-selected-state-label-text-color: var(
    --color--background-variant--contrast
  );
  --mat-stepper-header-error-state-label-text-color: var(--color--error);
  --mat-stepper-header-icon-background-color: var(
    --color--background-variant--contrast
  );
  --mat-stepper-header-error-state-icon-foreground-color: var(--color--error);
  --mat-sort-arrow-color: var(--color--background--contrast);
  --mat-toolbar-container-background-color: var(--color--background);
  --mat-toolbar-container-text-color: var(--color--background--contrast);
  --mat-tree-container-background-color: var(--color--background);
  --mat-tree-node-text-color: var(--color--background--contrast);
}
