:host {
  display: flex;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
  > * {
    flex: 0 0 auto;
  }
}
:host {
  mat-sidenav-container {
    flex: 1;
    mat-sidenav {
      min-width: 300px;
      width: 300px;
      max-width: 300px;
      height: 100%;
    }
  }
}
