@use "angular/material" as mat;
@use "../../palettes";

$primary: palettes.convert-mat-palette(mat.$pink-palette, 700, 500, 900);
$accent: palettes.convert-mat-palette(mat.$blue-grey-palette, A200, A100, A400);

$theme: (
  id: ng-pink-bluegrey,
  label: "Pink and Blue-grey",
  palettes: (
    primary: (
      light: $primary,
      dark: $primary,
    ),
    secondary: (
      light: $accent,
      dark: $accent,
    ),
  ),
);
