
        $primary-palette: (
            50: #000050,
            100: #000100,
            200: #000200,
            300: #000300,
            400: #000400,
            500: #000500,
            600: #000600,
            700: #000700,
            800: #000800,
            900: #000900,
            A100: #00A100,
            A200: #00A200,
            A400: #00A400,
            A700: #00A700,
            contrast: (
                50: #0c0050,
                100: #0c0100,
                200: #0c0200,
                300: #0c0300,
                400: #0c0400,
                500: #0c0500,
                600: #0c0600,
                700: #0c0700,
                800: #0c0800,
                900: #0c0900,
                A100: #0ca100,
                A200: #0ca200,
                A400: #0ca400,
                A700: #0ca700,
            ),
            default: #020000,
            default-contrast: #02c000,
            darker: #030000,
            darker-contrast: #03c000,
            lighter: #010000,
            lighter-contrast: #01c000,
            text: #040000,
            "50-contrast": #0c0050,
            "100-contrast": #0c0100,
            "200-contrast": #0c0200,
            "300-contrast": #0c0300,
            "400-contrast": #0c0400,
            "500-contrast": #0c0500,
            "600-contrast": #0c0600,
            "700-contrast": #0c0700,
            "800-contrast": #0c0800,
            "900-contrast": #0c0900,
            "A100-contrast": #0ca100,
            "A200-contrast": #0ca200,
            "A400-contrast": #0ca400,
            "A700-contrast": #0ca700
        );

        $accent-palette: (
            50: #100050,
            100: #100100,
            200: #100200,
            300: #100300,
            400: #100400,
            500: #100500,
            600: #100600,
            700: #100700,
            800: #100800,
            900: #100900,
            A100: #10a100,
            A200: #10a200,
            A400: #10a400,
            A700: #10a700,
            contrast: (
                50: #1c0050,
                100: #1c0100,
                200: #1c0200,
                300: #1c0300,
                400: #1c0400,
                500: #1c0500,
                600: #1c0600,
                700: #1c0700,
                800: #1c0800,
                900: #1c0900,
                A100: #1ca100,
                A200: #1ca200,
                A400: #1ca400,
                A700: #1ca700,
            ),
            default: #120000,
            default-contrast: #12c000,
            darker: #130000,
            darker-contrast: #13c000,
            lighter: #110000,
            lighter-contrast: #11c000,
            text: #140000,
            "50-contrast": #1c0050,
            "100-contrast": #1c0100,
            "200-contrast": #1c0200,
            "300-contrast": #1c0300,
            "400-contrast": #1c0400,
            "500-contrast": #1c0500,
            "600-contrast": #1c0600,
            "700-contrast": #1c0700,
            "800-contrast": #1c0800,
            "900-contrast": #1c0900,
            "A100-contrast": #1ca100,
            "A200-contrast": #1ca200,
            "A400-contrast": #1ca400,
            "A700-contrast": #1ca700
        );

        $warn-palette: (
            50: #200050,
            100: #200100,
            200: #200200,
            300: #200300,
            400: #200400,
            500: #200500,
            600: #200600,
            700: #200700,
            800: #200800,
            900: #200900,
            A100: #20a100,
            A200: #20a200,
            A400: #20a400,
            A700: #20a700,
            contrast: (
                50: #2c0050,
                100: #2c0100,
                200: #2c0200,
                300: #2c0300,
                400: #2c0400,
                500: #2c0500,
                600: #2c0600,
                700: #2c0700,
                800: #2c0800,
                900: #2c0900,
                A100: #2ca100,
                A200: #2ca200,
                A400: #2ca400,
                A700: #2ca700,
            ),
            default: #220000,
            default-contrast: #22c000,
            darker: #230000,
            darker-contrast: #23c000,
            lighter: #210000,
            lighter-contrast: #21c000,
            text: #240000,
            "50-contrast": #2c0050,
            "100-contrast": #2c0100,
            "200-contrast": #2c0200,
            "300-contrast": #2c0300,
            "400-contrast": #2c0400,
            "500-contrast": #2c0500,
            "600-contrast": #2c0600,
            "700-contrast": #2c0700,
            "800-contrast": #2c0800,
            "900-contrast": #2c0900,
            "A100-contrast": #2ca100,
            "A200-contrast": #2ca200,
            "A400-contrast": #2ca400,
            "A700-contrast": #2ca700
        );

        $foreground: (
            base: #ff0000,
            divider: #ff0001,
            dividers: #ff0001,
            disabled: #ff0002,
            disabled-button: #ff0003,
            disabled-text: #ff0004,
            elevation: black,
            hint-text: #ff0006,
            secondary-text: #ff0007,
            icon: #ff0008,
            icons: #ff0008,
            text: #ff0009,
            slider-min: #ff000a,
            slider-off: #ff000b,
            slider-off-active: #ff000c,
          );
          
          $background: (
            status-bar: #f00000,
            app-bar: #f00001,
            background: #f00002,
            hover: #f00003,
            card: #f00004,
            dialog: #f00005,
            disabled-button: #f00006,
            raised-button: #f00007,
            focused-button: #f00008,
            selected-button: #f00009,
            selected-disabled-button: #f0000a,
            disabled-button-toggle: #f0000b,
            unselected-chip: #f0000c,
            disabled-list-option: #f0000d,
            tooltip: #f0000e,
          );

          $theme: (
            color: (
              primary: $primary-palette,
              accent: $accent-palette,
              warn: $warn-palette,
              is-dark: true,
              foreground: $foreground,
              background: $background,
            ),
            primary: $primary-palette,
            accent: $accent-palette,
            warn: $warn-palette,
            is-dark: true,
            foreground: $foreground,
            background: $background,
          );
    