// f00004 = --mdc-theme-surface

$primary-palette:(
  50: #000050,
  100: #000100,
  200: #000200,
  300: #000300,
  400: #000400,
  500: #000500,
  600: #000600,
  700: #000700,
  800: #000800,
  900: #000900,
  A100: #00a100,
  A200: #00a200,
  A400: #00a400,
  A700: #00a700,
  contrast: (
    50: #0c0050,
    100: #0c0100,
    200: #0c0200,
    300: #0c0300,
    400: #0c0400,
    500: #0c0500,
    600: #0c0600,
    700: #0c0700,
    800: #0c0800,
    900: #0c0900,
    A100: #0ca100,
    A200: #0ca200,
    A400: #0ca400,
    A700: #0ca700,
  ),
  default: #020000,
  lighter: #010000,
  darker: #030000,
  text: #040000,
  default-contrast: #02c000,
  lighter-contrast: #01c000,
  darker-contrast: #03c000,
  "50-contrast": #0c0050,
  "100-contrast": #0c0100,
  "200-contrast": #0c0200,
  "300-contrast": #0c0300,
  "400-contrast": #0c0400,
  "500-contrast": #0c0500,
  "600-contrast": #0c0600,
  "700-contrast": #0c0700,
  "800-contrast": #0c0800,
  "900-contrast": #0c0900,
  "A100-contrast": #0ca100,
  "A200-contrast": #0ca200,
  "A400-contrast": #0ca400,
  "A700-contrast": #0ca700,
  "contrast-contrast": null,
);

$accent-palette: (
  50: #100050,
  100: #100100,
  200: #100200,
  300: #100300,
  400: #100400,
  500: #100500,
  600: #100600,
  700: #100700,
  800: #100800,
  900: #100900,
  A100: #10a100,
  A200: #10a200,
  A400: #10a400,
  A700: #10a700,
  contrast: (
    50: #1c0050,
    100: #1c0100,
    200: #1c0200,
    300: #1c0300,
    400: #1c0400,
    500: #1c0500,
    600: #1c0600,
    700: #1c0700,
    800: #1c0800,
    900: #1c0900,
    A100: #1ca100,
    A200: #1ca200,
    A400: #1ca400,
    A700: #1ca700,
  ),
  default: #120000,
  lighter: #110000,
  darker: #130000,
  text: #140000,
  default-contrast: #12c000,
  lighter-contrast: #11c000,
  darker-contrast: #13c000,
  "50-contrast": #1c0050,
  "100-contrast": #1c0100,
  "200-contrast": #1c0200,
  "300-contrast": #1c0300,
  "400-contrast": #1c0400,
  "500-contrast": #1c0500,
  "600-contrast": #1c0600,
  "700-contrast": #1c0700,
  "800-contrast": #1c0800,
  "900-contrast": #1c0900,
  "A100-contrast": #1ca100,
  "A200-contrast": #1ca200,
  "A400-contrast": #1ca400,
  "A700-contrast": #1ca700,
  "contrast-contrast": null,
);

$warn-palette: (
  50: #300050,
  100: #300100,
  200: #300200,
  300: #300300,
  400: #300400,
  500: #300500,
  600: #300600,
  700: #300700,
  800: #300800,
  900: #300900,
  A100: #30a100,
  A200: #30a200,
  A400: #30a400,
  A700: #30a700,
  contrast: (
    50: #3c0050,
    100: #3c0100,
    200: #3c0200,
    300: #3c0300,
    400: #3c0400,
    500: #3c0500,
    600: #3c0600,
    700: #3c0700,
    800: #3c0800,
    900: #3c0900,
    A100: #3ca100,
    A200: #3ca200,
    A400: #3ca400,
    A700: #3ca700,
  ),
  default: #320000,
  lighter: #310000,
  darker: #330000,
  text: #340000,
  default-contrast: #32c000,
  lighter-contrast: #31c000,
  darker-contrast: #33c000,
  "50-contrast": #3c0050,
  "100-contrast": #3c0100,
  "200-contrast": #3c0200,
  "300-contrast": #3c0300,
  "400-contrast": #3c0400,
  "500-contrast": #3c0500,
  "600-contrast": #3c0600,
  "700-contrast": #3c0700,
  "800-contrast": #3c0800,
  "900-contrast": #3c0900,
  "A100-contrast": #3ca100,
  "A200-contrast": #3ca200,
  "A400-contrast": #3ca400,
  "A700-contrast": #3ca700,
  "contrast-contrast": null,
);

$foreground: (
  base: #ff0000,
  divider: #ff0001,
  dividers: #ff0002,
  disabled: #ff0003,
  disabled-button: #ff0004,
  disabled-text: #ff0005,
  elevation: black,
  hint-text: #ff0007,
  secondary-text: #ff0008,
  icon: #ff0009,
  icons: #ff0010,
  text: #ff0011,
  slider-min: #ff0012,
  slider-off: #ff0013,
  slider-off-active: #ff0014,
);
$background: (
  status-bar: #f00000,
  app-bar: #f00001,
  background: #f00002,
  hover: #f00003,
  card: #f00004,
  dialog: #f00005,
  disabled-button: #f00006,
  raised-button: #f00007,
  focused-button: #f00008,
  selected-button: #f00009,
  selected-disabled-button: #f00010,
  disabled-button-toggle: #f00011,
  unselected-chip: #f00012,
  disabled-list-option: #f00013,
  tooltip: #f00014,
);


$DynamicTheme: (
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
    is-dark: false,
    foreground: $foreground,
    background: $background,
  ),
  primary: $primary-palette,
  accent: $accent-palette,
  warn: $warn-palette,
  is-dark: false,
  foreground: $foreground,
  background: $background,
);


$varTheme: (
  color: (
    primary: (
      50: #e8eaf6,
      100: #c5cae9,
      200: #9fa8da,
      300: #7986cb,
      400: #5c6bc0,
      500: #3f51b5,
      600: #3949ab,
      700: #303f9f,
      800: #283593,
      900: #1a237e,
      A100: #8c9eff,
      A200: #536dfe,
      A400: #3d5afe,
      A700: #304ffe,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #3f51b5,
      lighter: #c5cae9,
      darker: #303f9f,
      text: #3f51b5,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": white,
      "400-contrast": white,
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": white,
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    accent: (
      50: #fce4ec,
      100: #f8bbd0,
      200: #f48fb1,
      300: #f06292,
      400: #ec407a,
      500: #e91e63,
      600: #d81b60,
      700: #c2185b,
      800: #ad1457,
      900: #880e4f,
      A100: #ff80ab,
      A200: #ff4081,
      A400: #f50057,
      A700: #c51162,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #ff4081,
      lighter: #ff80ab,
      darker: #f50057,
      text: #ff4081,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": white,
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    warn: (
      50: #ffebee,
      100: #ffcdd2,
      200: #ef9a9a,
      300: #e57373,
      400: #ef5350,
      500: #f44336,
      600: #e53935,
      700: #d32f2f,
      800: #c62828,
      900: #b71c1c,
      A100: #ff8a80,
      A200: #ff5252,
      A400: #ff1744,
      A700: #d50000,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #f44336,
      lighter: #ffcdd2,
      darker: #d32f2f,
      text: #f44336,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": white,
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    is-dark: true,
    foreground: (
      base: white,
      divider: rgba(255, 255, 255, 0.12),
      dividers: rgba(255, 255, 255, 0.12),
      disabled: rgba(255, 255, 255, 0.5),
      disabled-button: rgba(255, 255, 255, 0.3),
      disabled-text: rgba(255, 255, 255, 0.5),
      elevation: black,
      hint-text: rgba(255, 255, 255, 0.5),
      secondary-text: rgba(255, 255, 255, 0.7),
      icon: white,
      icons: white,
      text: white,
      slider-min: white,
      slider-off: rgba(255, 255, 255, 0.3),
      slider-off-active: rgba(255, 255, 255, 0.3),
    ),
    background: (
      status-bar: black,
      app-bar: #212121,
      background: #303030,
      hover: rgba(255, 255, 255, 0.04),
      card: #424242,
      dialog: #424242,
      disabled-button: rgba(255, 255, 255, 0.12),
      raised-button: #424242,
      focused-button: rgba(255, 255, 255, 0.12),
      selected-button: #212121,
      selected-disabled-button: #424242,
      disabled-button-toggle: black,
      unselected-chip: #616161,
      disabled-list-option: rgba(255, 255, 255, 0.12),
      tooltip: #616161,
    ),
  ),
  primary: (
    50: #e8eaf6,
    100: #c5cae9,
    200: #9fa8da,
    300: #7986cb,
    400: #5c6bc0,
    500: #3f51b5,
    600: #3949ab,
    700: #303f9f,
    800: #283593,
    900: #1a237e,
    A100: #8c9eff,
    A200: #536dfe,
    A400: #3d5afe,
    A700: #304ffe,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: white,
      400: white,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: white,
      A400: white,
      A700: white,
    ),
    default: #3f51b5,
    lighter: #c5cae9,
    darker: #303f9f,
    text: #3f51b5,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": white,
    "400-contrast": white,
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": white,
    "A400-contrast": white,
    "A700-contrast": white,
    "contrast-contrast": null,
  ),
  accent: (
    50: #fce4ec,
    100: #f8bbd0,
    200: #f48fb1,
    300: #f06292,
    400: #ec407a,
    500: #e91e63,
    600: #d81b60,
    700: #c2185b,
    800: #ad1457,
    900: #880e4f,
    A100: #ff80ab,
    A200: #ff4081,
    A400: #f50057,
    A700: #c51162,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: rgba(0, 0, 0, 0.87),
      400: rgba(0, 0, 0, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: white,
      A400: white,
      A700: white,
    ),
    default: #ff4081,
    lighter: #ff80ab,
    darker: #f50057,
    text: #ff4081,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": rgba(0, 0, 0, 0.87),
    "400-contrast": rgba(0, 0, 0, 0.87),
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": white,
    "A400-contrast": white,
    "A700-contrast": white,
    "contrast-contrast": null,
  ),
  warn: (
    50: #ffebee,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ef5350,
    500: #f44336,
    600: #e53935,
    700: #d32f2f,
    800: #c62828,
    900: #b71c1c,
    A100: #ff8a80,
    A200: #ff5252,
    A400: #ff1744,
    A700: #d50000,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: rgba(0, 0, 0, 0.87),
      400: rgba(0, 0, 0, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: white,
      A400: white,
      A700: white,
    ),
    default: #f44336,
    lighter: #ffcdd2,
    darker: #d32f2f,
    text: #f44336,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": rgba(0, 0, 0, 0.87),
    "400-contrast": rgba(0, 0, 0, 0.87),
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": white,
    "A400-contrast": white,
    "A700-contrast": white,
    "contrast-contrast": null,
  ),
  is-dark: true,
  foreground: (
    base: white,
    divider: rgba(255, 255, 255, 0.12),
    dividers: rgba(255, 255, 255, 0.12),
    disabled: rgba(255, 255, 255, 0.5),
    disabled-button: rgba(255, 255, 255, 0.3),
    disabled-text: rgba(255, 255, 255, 0.5),
    elevation: black,
    hint-text: rgba(255, 255, 255, 0.5),
    secondary-text: rgba(255, 255, 255, 0.7),
    icon: white,
    icons: white,
    text: white,
    slider-min: white,
    slider-off: rgba(255, 255, 255, 0.3),
    slider-off-active: rgba(255, 255, 255, 0.3),
  ),
  background: (
    status-bar: black,
    app-bar: #212121,
    background: #303030,
    hover: rgba(255, 255, 255, 0.04),
    card: #424242,
    dialog: #424242,
    disabled-button: rgba(255, 255, 255, 0.12),
    raised-button: #424242,
    focused-button: rgba(255, 255, 255, 0.12),
    selected-button: #212121,
    selected-disabled-button: #424242,
    disabled-button-toggle: black,
    unselected-chip: #616161,
    disabled-list-option: rgba(255, 255, 255, 0.12),
    tooltip: #616161,
  ),
);
