@use "@angular/material" as mat;
@use "../dist/scss/theme-data" as theme;
@use "sass:map";

@include mat.core();
/*** Components ***/
@include mat.all-component-themes(theme.$theme);

/*** Typography ***/
@include mat.typography-hierarchy(
  (
    typography: mat.define-typography-config(),
  )
);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  background-color: var(--theme-background);
  color: var(--theme-background-contrast);
}
