@use "@angular/material" as mat;
@use "../dist/scss/theme-data" as theme;
@use "sass:map";

@include mat.core();
/*** Components ***/
@include mat.all-component-themes(theme.$theme);

/*** Typography ***/
@include mat.typography-hierarchy(
  (
    typography: mat.define-typography-config(),
  )
);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  background-color: var(--theme-background);
  color: var(--theme-background-contrast);
}

$dt: (
  color: (
    primary: (
      50: #e8eaf6,
      100: #c5cae9,
      200: #9fa8da,
      300: #7986cb,
      400: #5c6bc0,
      500: #3f51b5,
      600: #3949ab,
      700: #303f9f,
      800: #283593,
      900: #1a237e,
      A100: #8c9eff,
      A200: #536dfe,
      A400: #3d5afe,
      A700: #304ffe,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #3f51b5,
      lighter: #c5cae9,
      darker: #303f9f,
      text: #3f51b5,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": white,
      "400-contrast": white,
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": white,
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    accent: (
      50: #fce4ec,
      100: #f8bbd0,
      200: #f48fb1,
      300: #f06292,
      400: #ec407a,
      500: #e91e63,
      600: #d81b60,
      700: #c2185b,
      800: #ad1457,
      900: #880e4f,
      A100: #ff80ab,
      A200: #ff4081,
      A400: #f50057,
      A700: #c51162,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #ff4081,
      lighter: #ff80ab,
      darker: #f50057,
      text: #ff4081,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": white,
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    warn: (
      50: #ffebee,
      100: #ffcdd2,
      200: #ef9a9a,
      300: #e57373,
      400: #ef5350,
      500: #f44336,
      600: #e53935,
      700: #d32f2f,
      800: #c62828,
      900: #b71c1c,
      A100: #ff8a80,
      A200: #ff5252,
      A400: #ff1744,
      A700: #d50000,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #f44336,
      lighter: #ffcdd2,
      darker: #d32f2f,
      text: #f44336,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": white,
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    is-dark: true,
    foreground: (
      base: white,
      divider: rgba(255, 255, 255, 0.12),
      dividers: rgba(255, 255, 255, 0.12),
      disabled: rgba(255, 255, 255, 0.5),
      disabled-button: rgba(255, 255, 255, 0.3),
      disabled-text: rgba(255, 255, 255, 0.5),
      elevation: black,
      hint-text: rgba(255, 255, 255, 0.5),
      secondary-text: rgba(255, 255, 255, 0.7),
      icon: white,
      icons: white,
      text: white,
      slider-min: white,
      slider-off: rgba(255, 255, 255, 0.3),
      slider-off-active: rgba(255, 255, 255, 0.3),
    ),
    background: (
      status-bar: black,
      app-bar: #212121,
      background: #303030,
      hover: rgba(255, 255, 255, 0.04),
      card: #424242,
      dialog: #424242,
      disabled-button: rgba(255, 255, 255, 0.12),
      raised-button: #424242,
      focused-button: rgba(255, 255, 255, 0.12),
      selected-button: #212121,
      selected-disabled-button: #424242,
      disabled-button-toggle: black,
      unselected-chip: #616161,
      disabled-list-option: rgba(255, 255, 255, 0.12),
      tooltip: #616161,
    ),
  ),
  typography: (
    headline-1: (
      font-size: 96px,
      line-height: 96px,
      font-weight: 300,
      font-family: Roboto,
      sans-serif,
      letter-spacing: -0.015625em,
    ),
    headline-2: (
      font-size: 60px,
      line-height: 60px,
      font-weight: 300,
      font-family: Roboto,
      sans-serif,
      letter-spacing: -0.0083333333em,
    ),
    headline-3: (
      font-size: 48px,
      line-height: 50px,
      font-weight: 400,
      font-family: Roboto,
      sans-serif,
      letter-spacing: normal,
    ),
    headline-4: (
      font-size: 34px,
      line-height: 40px,
      font-weight: 400,
      font-family: Roboto,
      sans-serif,
      letter-spacing: 0.0073529412em,
    ),
    headline-5: (
      font-size: 24px,
      line-height: 32px,
      font-weight: 400,
      font-family: Roboto,
      sans-serif,
      letter-spacing: normal,
    ),
    headline-6: (
      font-size: 20px,
      line-height: 32px,
      font-weight: 500,
      font-family: Roboto,
      sans-serif,
      letter-spacing: 0.0125em,
    ),
    subtitle-1: (
      font-size: 16px,
      line-height: 28px,
      font-weight: 400,
      font-family: Roboto,
      sans-serif,
      letter-spacing: 0.009375em,
    ),
    subtitle-2: (
      font-size: 14px,
      line-height: 22px,
      font-weight: 500,
      font-family: Roboto,
      sans-serif,
      letter-spacing: 0.0071428571em,
    ),
    body-1: (
      font-size: 16px,
      line-height: 24px,
      font-weight: 400,
      font-family: Roboto,
      sans-serif,
      letter-spacing: 0.03125em,
    ),
    body-2: (
      font-size: 14px,
      line-height: 20px,
      font-weight: 400,
      font-family: Roboto,
      sans-serif,
      letter-spacing: 0.0178571429em,
    ),
    caption: (
      font-size: 12px,
      line-height: 20px,
      font-weight: 400,
      font-family: Roboto,
      sans-serif,
      letter-spacing: 0.0333333333em,
    ),
    button: (
      font-size: 14px,
      line-height: 36px,
      font-weight: 500,
      font-family: Roboto,
      sans-serif,
      letter-spacing: 0.0892857143em,
    ),
    overline: (
      font-size: 12px,
      line-height: 32px,
      font-weight: 500,
      font-family: Roboto,
      sans-serif,
      letter-spacing: 0.1666666667em,
    ),
    "font-family": Roboto,
    sans-serif,
  ),
  density: 0,
  primary: (
    50: #e8eaf6,
    100: #c5cae9,
    200: #9fa8da,
    300: #7986cb,
    400: #5c6bc0,
    500: #3f51b5,
    600: #3949ab,
    700: #303f9f,
    800: #283593,
    900: #1a237e,
    A100: #8c9eff,
    A200: #536dfe,
    A400: #3d5afe,
    A700: #304ffe,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: white,
      400: white,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: white,
      A400: white,
      A700: white,
    ),
    default: #3f51b5,
    lighter: #c5cae9,
    darker: #303f9f,
    text: #3f51b5,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": white,
    "400-contrast": white,
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": white,
    "A400-contrast": white,
    "A700-contrast": white,
    "contrast-contrast": null,
  ),
  accent: (
    50: #fce4ec,
    100: #f8bbd0,
    200: #f48fb1,
    300: #f06292,
    400: #ec407a,
    500: #e91e63,
    600: #d81b60,
    700: #c2185b,
    800: #ad1457,
    900: #880e4f,
    A100: #ff80ab,
    A200: #ff4081,
    A400: #f50057,
    A700: #c51162,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: rgba(0, 0, 0, 0.87),
      400: rgba(0, 0, 0, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: white,
      A400: white,
      A700: white,
    ),
    default: #ff4081,
    lighter: #ff80ab,
    darker: #f50057,
    text: #ff4081,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": rgba(0, 0, 0, 0.87),
    "400-contrast": rgba(0, 0, 0, 0.87),
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": white,
    "A400-contrast": white,
    "A700-contrast": white,
    "contrast-contrast": null,
  ),
  warn: (
    50: #ffebee,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ef5350,
    500: #f44336,
    600: #e53935,
    700: #d32f2f,
    800: #c62828,
    900: #b71c1c,
    A100: #ff8a80,
    A200: #ff5252,
    A400: #ff1744,
    A700: #d50000,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: rgba(0, 0, 0, 0.87),
      400: rgba(0, 0, 0, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: white,
      A400: white,
      A700: white,
    ),
    default: #f44336,
    lighter: #ffcdd2,
    darker: #d32f2f,
    text: #f44336,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": rgba(0, 0, 0, 0.87),
    "400-contrast": rgba(0, 0, 0, 0.87),
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": white,
    "A400-contrast": white,
    "A700-contrast": white,
    "contrast-contrast": null,
  ),
  is-dark: true,
  foreground: (
    base: white,
    divider: rgba(255, 255, 255, 0.12),
    dividers: rgba(255, 255, 255, 0.12),
    disabled: rgba(255, 255, 255, 0.5),
    disabled-button: rgba(255, 255, 255, 0.3),
    disabled-text: rgba(255, 255, 255, 0.5),
    elevation: black,
    hint-text: rgba(255, 255, 255, 0.5),
    secondary-text: rgba(255, 255, 255, 0.7),
    icon: white,
    icons: white,
    text: white,
    slider-min: white,
    slider-off: rgba(255, 255, 255, 0.3),
    slider-off-active: rgba(255, 255, 255, 0.3),
  ),
  background: (
    status-bar: black,
    app-bar: #212121,
    background: #303030,
    hover: rgba(255, 255, 255, 0.04),
    card: #424242,
    dialog: #424242,
    disabled-button: rgba(255, 255, 255, 0.12),
    raised-button: #424242,
    focused-button: rgba(255, 255, 255, 0.12),
    selected-button: #212121,
    selected-disabled-button: #424242,
    disabled-button-toggle: black,
    unselected-chip: #616161,
    disabled-list-option: rgba(255, 255, 255, 0.12),
    tooltip: #616161,
  ),
);

$dd: #ccdcdc;
a {
  --theme-color-primary: red;

  --theme-color-primary--contrast--high: rgb(255, 255, 255);
  --theme-color-primary--contrast--medium: rgb(255, 227, 227);
  --theme-color-primary--contrast--low: rgb(255, 181, 181);
  --theme-color-primary--contrast--lower: rgb(255, 138, 138);

  --theme-color-primary--contrast: var(--theme-color-primary--contrast--medium);

  --theme-color-primary--tint--highest: rgba(255, 0, 0, 0.87);
  --theme-color-primary--tint--higher: rgba(255, 0, 0, 0.6);
  --theme-color-primary--tint--high: rgba(255, 0, 0, 0.5);
  --theme-color-primary--tint--medium: rgba(255, 0, 0, 0.42);
  --theme-color-primary--tint--low: rgba(255, 0, 0, 0.25);
  --theme-color-primary--tint--lower: rgba(255, 0, 0, 0.1);
  --theme-color-primary--tint--lowest: rgba(255, 0, 0, 0.05);

  --theme-color-primary--tint: var(--theme-color-primary--tint--medium);

  --theme-color-primary--ripple: var(--theme-color-primary--tint--lowest);
  --theme-color-primary--ripple--qwerty: var(--theme-color-primary--tint--high);
}
// lowest: {
//   true: 0.04,
//   false: 0.02,
// },
// lower: {
//   true: 0.08,
//   false: 0.04,
// },
// low: {
//   true: 0.12,
//   false: 0.06,
// },
// medium: {
//   true: 0.24,
//   false: 0.12,
// },
// high: {
//   true: 0.38,
//   false: 0.24,
// },
// higher: {
//   true: 0.5,
//   false: 0.42,
// },
// highest: {
//   true: 0.9,
//   false: 0.65,
