@use "sass:math";
@use "sass:list";

@function brightness($color) {
  $sum: red($color) + green($color) + blue($color);
  @return percentage(math.div($sum, (255 * 3)));
}

@function color-key($palette, $variation: null, $property: null, $isRef: false) {
  @debug $property;

  @if $property == default {
    $property: null;
  }
  $key: ($palette);

  @if $variation != null {
    $key: list.append($key, $variation);
  }

  @if $property != null {
    $key: list.append($key, $property);
  }

  $colorKey: "--theme-color#{if($isRef, -ref, null)}";
  @each $k in $key {
    $colorKey: #{$colorKey}--#{$k};
  }

  @return $colorKey;
}
