$-error-colors: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
);

$light-mode-error-palette: (
  id: error,
  default: A700,
  tints: true,
  colors: $-error-colors,
  named: (
    container: 100,
  ),
  aliases: (
    lighter: 300,
    darker: 900,
  ),
);

$dark-mode-error-palette: (
  id: error,
  default: A700,
  tints: true,
  colors: $-error-colors,
  named: (
    container: 100,
  ),
  aliases: (
    lighter: 300,
    darker: 900,
  ),
);
