@use "sass:map";
@use "sass:list";
@use "angular/material" as mat;

@function convert-mat-palette($matPalette, $default: 500, $lighter: 300, $darker: 600) {
  $contrast: map.get($matPalette, contrast);
  @if not $contrast {
    $contrast: ();
  }

  $colors: ();
  $contrastColors: ();
  @each $k, $color in $matPalette {
    $colors: map.set($colors, $k, $color);
    $contrastColor: map.get($contrast, $k);
    @if $contrastColor {
      $contrastColors: map.set($contrastColors, $k, $contrastColor);
    }
  }

  @return (
    default: $default,
    tints: true,
    colors: $colors,
    contrast: $contrastColors,
    aliases: (
      lighter: $lighter,
      darker: $darker,
    )
  );
}
