@use "sass:map";
@use "sass:list";
@use "@angular/material" as mat;

@function convert-mat-palette($matPalette, $default: 500, $lighter: 300, $darker: 600) {
  $contrast: map.get($matPalette, contrast);
  @if not $contrast {
    $contrast: ();
  }

  $contrastLow: map.get($matPalette, contrast-low);
  @if not $contrastLow {
    $contrastLow: ();
  }

  $colors: ();
  $contrastColors: ();
  $contrastLowColors: ();
  @each $k, $color in $matPalette {
    @if $k != "contrast" and $k != "contrast-low" {
      $colors: map.set($colors, $k, $color);
      $contrastColor: map.get($contrast, $k);
      $contrastLowColor: map.get($contrastLow, $k);
      @if $contrastColor {
        $contrastColors: map.set($contrastColors, $k, $contrastColor);
      }
      @if $contrastLowColor {
        $contrastLowColors: map.set($contrastLowColors, $k, $contrastLowColor);
      }
    }
  }

  @return (
    default: $default,
    tints: true,
    colors: $colors,
    contrast: $contrastColors,
    contrast-low: $contrastLowColors,
    aliases: (
      lighter: $lighter,
      darker: $darker,
    )
  );
}
