$-opacities: (
  0: 0,
  5: 0.05,
  8: 0.08,
  10: 0.1,
  12: 0.12,
  20: 0.2,
  24: 0.24,
  30: 0.3,
  38: 0.38,
  40: 0.4,
  50: 0.5,
  54: 0.54,
  60: 0.6,
  87: 0.87,
  95: 0.95,
  100: 1,
);

$light-mode-opacity-palette: (
  id: opacity,
  default: 24,
  tints: false,
  colors: $-opacities,
  contrast: false,
  contrast-low: false,
  aliases: (
    low: 8,
    medium: 24,
    high: 87,
  ),
);

$dark-mode-opacity-palette: (
  id: opacity,
  default: 24,
  tints: false,
  colors: $-opacities,
  contrast: false,
  contrast-low: false,
  aliases: (
    low: 8,
    medium: 24,
    high: 87,
  ),
);
