@use "@cpangular/ng-material-theme/theming";

@include theming.include-themes(
  (
    (id: my-theme, palette: orange),
    (
      id: my-theme-2,
      palette: (
        primary: (
          red,
          blue,
        ),
      )
    ),
    (
      id: my-theme-3,
      palette: (
        primary: (
          purple,
          green,
        ),
      )
    )
  )
);

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.aaa {
  --theme-color--primary: red;

  --theme-color--primary--shade: red;
  --theme-color--primary--shade-high: red;

  --theme-color--primary--tint: red;
  --theme-color--primary--tint-high: red;

  // --theme-color--primary--contrast-high: rgb(255, 255, 255);
  // --theme-color--primary--contrast: rgb(255, 226, 226);
  // --theme-color--primary--contrast-low: rgb(255, 182, 182);

  //  --theme-color--primary--shade--contrast-low: red;
  //  --theme-color--primary--shade-high--contrast-low: red;

  // --contrast-high
  // --contrast
  // --contrast-low
  // --contrast-lower
}
