@use "@cpangular/ng-material-theme/theming";

@include theming.include-themes(
  (
    (id: my-theme, palette: orange),
    (
      id: my-theme-2,
      palette: (
        primary: (
          red,
          blue,
        ),
      )
    ),
    (
      id: my-theme-3,
      palette: (
        primary: (
          purple,
          green,
        ),
      )
    )
  )
);

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
